*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar{
    height: 80px;
    width: 100%;
}

nav ul{
    float: inline-end;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 30%;
    padding-left: 20%;

}

nav ul li {
    margin-left: 20px;
}

header {
    padding: 10px 15px;
    box-shadow: 0 1px 5px rgb(255, 255, 255);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

img{
    position: absolute; 
    top: -2px; 
    left: 100px; 
    width: 125px; 
    height: 130px; 
    border-radius: 0px;
    padding-top: 10px;
}

button {
    top: 11px; 
    left: 1165px; 
    width: 120px; 
    height: 36px; 
    padding: 2px 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Manrope; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #FFFFFFFF; 
    background: #6D31EDFF; 
    opacity: 1; 
    border: none; 
    border-radius: 18px;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
  }
  /* Hover */
  .button:hover {
    color: #FFFFFFFF; 
    background: #5113D7FF; 
  }
  /* Pressed */
  .button:hover:active {
    color: #FFFFFFFF; 
    background: #3F0EA6FF; 
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }